@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}

.text-gradient {
    background: linear-gradient(360deg, #234eb0 5%, #9010b0 100%);
    -webkit-background-clip: text;
    color: transparent;
}
